<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form with Navbar</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <%-include("./component/navbar.ejs")%>

    <div class="form-container">
            <h2>You Have Create Accout Succesfully</h2>
    </div>
</body>
</html>
