<nav class="navbar">
  <div class="logo">
      <a href="#">Regiser User</a>
  </div>
  <ul class="nav-links">
      <li><a href="/">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
  </ul>
</nav>